/*
* Buttons
*
-----------------------
* DEPENDENCIES:
-----------------------
* variables.css
* typo.css
* icon
*/

.button {
    display: inline-block;
    padding: 13px 20px;
    color: inherit;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12),
                0 2px 2px 0 rgba(0,0,0,.24);

    cursor: pointer;
}

.button-primary {
    background-color: var(--color-first);
}

.button-secondary {
    background-color: var(--color-default);
}

.button-icon {

}

.button-hero {
    border-radius: 10px;
    font-size: 2em;
    background-color: var(--color-second);
    color: var(--color-first);
}