.form-element {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.input {
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    background: none;
    color: inherit;
}

.input::-webkit-input-placeholder,
.input:-ms-input-placeholder,
.input::-ms-input-placeholder,
.input::placeholder {
    color: #888;
    opacity: 1;
}

.input-text {
    display: block;
    width: 100%;
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.input-text:focus {
    outline: 1px solid transparent;
    transition: border-bottom 1s linear;
    border-bottom: 1px solid red;
}


.label {
    display: block;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

.input-radio {
    position: absolute;
    opacity: 0;
}


.input-radio + .label:before {
    content: '';
    display: inline-block;
    position: relative;
    margin-right: 1em;
    width: var(--input-size);
    height: var(--input-size);
    background: transparent;
    border-radius: 100%;
    border: 1px solid var(--color-second);
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.input-radio:checked + .label:before {
    background-color: var(--color-first);
    border-color: var(--color-first);

    box-shadow: inset 0 0 0 4px white;
}

.input-radio:focus + .label:before {
    outline: none;
    border-color: transparent;
}

.input-radio:disabled + .label:before {
    box-shadow: inset 0 0 0 4px var(--color-first);
    border-color: var(--color-first);
    background: transparent;
}


.input-upload {
    position: absolute;
    opacity: 0;
}

.upload {
    border: 1px dotted var(--color-default);
}

.label-upload {
    text-align: center;
    color: var(--color-second);
}

.upload .label-icon {
    display: block;
    width: 60%;
    margin: 0 auto 15px auto;

    fill: var(--color-default);
    transition: fill .25s ease-in;
}

.label-upload:hover .label-icon {
    fill: var(--color-first);
}
