/*
* form
*
----------------
* DEPENDENCIES:
----------------
* colors.css
*/

.form-element {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.form-field {
    background: none;
    color: inherit;
    margin: 0 0 5px 0;
}

.form-field ::-webkit-input-placeholder,
.form-field :-ms-input-placeholder,
.form-field ::-ms-input-placeholder,
.form-field ::placeholder {
    color: #888;
    opacity: 1;
}

.form-label {
    display: block;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

.form-required {
    color: red;
}


/* -----------------------------------------
 * Form input[type="text"], textarea (text-field)
-------------------------------------------*/
.text-field {
    display: block;
    width: 100%;
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid var(--color-form);
    position: relative;
    z-index: 2;
}

.text-field:focus {
    outline: 1px solid transparent;
    transition: border-bottom 1s linear;
    border-bottom: 1px solid var(--color-first);
}


/* -----------------------------------------
 * Form input[type="text"] validation
-------------------------------------------*/

.form-input-validation {
    width: 100%;
    display: inline-block;
    position: relative;
    top: -2em;
    text-align:right;
    z-index: 0;
}

.check::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../svg/icons/checkmark.svg');
    fill: green;
    border-color: red;
    color:;
}


.error::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../svg/icons/cross2.svg');
}
/*form-input-validation check error*/
/* -----------------------------------------
 * Form radio
-------------------------------------------*/
.input-radio {
    position: absolute;
    opacity: 0;
}

.label-radio {
    margin: 0 0 5px 0;
}

.input-radio + .label-radio:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 3px;
    box-sizing: border-box;
    width: var(--input-size);
    height: var(--input-size);
    margin-right: 15px;
    background: transparent;
    border-radius: 100%;
    border: 2px solid var(--color-default);
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.input-radio:checked + .label-radio:before {
    background-color: var(--color-first);
    border-color: var(--color-first);
    box-shadow: inset 0 0 0 3px white;
}

.input-radio:focus + .label-radio:before {
    outline: none;
    border-color: transparent;
}

.input-radio:disabled + .label-radio:before {
    box-shadow: inset 0 0 0 4px var(--color-first);
    border-color: var(--color-first);
    background: transparent;
}


/* -----------------------------------------
 * Form upload
-------------------------------------------*/
.form-upload {
    border: 1px solid var(--color-form);
    border-radius: 4px;
}

.form-upload:hover {
    border: 1px solid var(--color-first);
    transition: all 250ms ease;
}

.input-upload {
    position: absolute;
    opacity: 0;
}

.label-upload {
    text-align: center;
    color: var(--color-form);
}

.form-upload:hover .label-upload {
    color: var(--color-first);
    transition: all 350ms ease;
}


.form-upload .icon {
    display: block;
    width: 60%;
    margin: 0 auto 15px auto;
}

.icon-upload {
    fill: var(--color-form);
}

.form-upload:hover  .icon-upload {
    fill: var(--color-first);
    transition: all 350ms ease;
}
