:root {
	--unit-modul-s: 270px;
	--unit-modul-m: 585px;
	--unit-modul-l: 960px;

	--unit-gap: 45px;
	--unit-space: 10px;

	--page-size-l: var(--unit-modul-l);
	--page-size-m: 600px;
	--page-size-s: 320px;
}

.grid {
		min-width: var(--page-size-s);
		max-width: var(--page-size-l);
		margin: 30px auto;
		background-color: #fff;
		padding: 25px 30px 30px;
		display: flex;
		flex-flow: row wrap;

}

.grid div {
	min-width: var(--page-size-s);
	max-width: max-width: var(--page-size-l) - var(--unit-gap);
}