#issue {}

.issue-detail {
	padding-bottom: calc( var(--unit-space) * 2);
}

	.issue-comment {
		padding-top: var(--unit-space);
		margin-top: var(--unit-gutter-l);
	}

		.issue-comment .comment-header {
			padding: calc(var(--unit-space) * 3) var(--unit-space) var(--unit-space);
			border-top: 1px solid var(--color-third);
		}

			.comment-header .comment-avatar {
				width: 36px;
				height: 36px;
				border-radius: 5px;
			}

			.comment-header .comment-reporter {
				line-height: 1.6em;
			}