.issue.label-needs-triage .x2{
	border-color: var(--label-needs-triage);
}

.issue.label-needs-diagnosis .x2 {
	border-color: var(--label-needs-diagnosis);
}

.issue.label-needs-contact .x2 {
	border-color: var(--label-needs-contact);
}

.issue.label-outreach .x2 {
	border-color: var(--label-outreach);
}

.issue.label-site-contacted .x2 {
	border-color: var(--label-site-contacted);
}

.issue.label-closed .x2 {
	border-color: var(--label-closed);
}