@import 'reset.css';
@import 'a11y-en.css';
@import 'variables.css';
@import 'typo.css';
@import 'grid.css';
@import 'nav.css';
@import 'bio.css';

body {
	background-color: var(--color-bg-page);
	padding: 30px 19px 50px;
	box-sizing: border-box;
}
