@import 'reset.css';
@import 'a11y-en.css';
@import 'variables.css';
@import 'typo.css';
@import 'grid.css';
@import 'colors.css';
@import 'button.css';
@import 'nav.css';
@import 'bio.css';
@import 'hero.css';
@import 'tiles.css';
@import 'form.css';

body {
	background-color: var(--color-bg-page);
	box-sizing: border-box;
	padding-top: var(--navi-height);
}

/* reset lists */
ul, li {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 665px){
	body {
		padding: var(--navi-height) 19px 50px;
	}
}
