#Nav {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  max-width: var(--unit-modul-l);
  padding: calc(var(--unit-gutter)/2) var(--unit-gutter);
  background-color: var(--color-first);
  color: var(--color-second);
}

.nav .grid {
  max-width: 100%;
}

.nav-item {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 0 4px;	
}

.nav-item:first-child {
  margin: 0;
}

.nav-item:last-child {
  margin: 0;
}

.nav-item a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.nav-icon {
  width: 30px;
  height: auto;

  vertical-align: middle;
}

.nav-item .link-text {
  display: inline-block;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  vertical-align: middle;
}


@media screen and (min-width: 665px){
  .nav-item .link-text {
    visibility: visible;
    width: auto;
    height: auto;
  }

  .nav-icon {
    width: 16px;
  }
}

@media screen and (min-width: 998px){
  #Nav {
    width: 100%;
  }
}

/* add icons to nav, right + left with x1-fix : x2, pseudo-links, sticky nav */