body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8em;
	color: var(--color-second);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
}

.highlight {
	text-transform: uppercase;
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.headline-1 {
	font-size: 2em;
	line-height: 1.4em;	
}

.headline-2 {
	font-size: 1.5em;
	line-height: 1.3em;	
}

.headline-3 {
	font-size: 1.2em;
	line-height: 0.8em;	
}

.hint-text {
	color: #888;
	font-style: italic;
	font-family: Palatino, Garamond, serif;	
}

.note {
	font-size: 1em;
	line-height: 1.6em;
}

.code-text {
	color: #666;
	font-size: 0.9em;
	line-height: 1.8em;
	font-family: monospace;
}

a {
	color: var(--color-second);
}