:root {
  --unit-modul-s: 		270px;
  --unit-modul-m: 		585px;
  --unit-modul-l: 		900px;
  --unit-gap: 			45px;
  --unit-space: 			10px;
  --unit-gutter:			15px;
  --unit-gutter-m:		25px;
  --unit-gutter-l:		45px;
  --navi-height: 			63px;
  --input-size: 			20px;
  --page-size-l: 			998px;
  --page-size-m: 			665px;
  --page-size-s: 			320px;
  --color-bg-page: 		#fafafa;
  --color-bg-box: 		#fff;
  --color-first: 			#ffc900;
  --color-first-light:		rgba(255, 200, 3, .55);
  --color-second:			#404040;
  --color-third:			#f0f0f0;
  --color-fourth:			#c0ffee;
  --color-form:			rgba(0,0,0,.12);
  --color-default: 		#c4c4c4;
  --color-error:			#bf0101;
  --color-warning:		#ff9000;
  --color-success:		#2f9900;
  --label-color-1:		#001;
  --label-color-2:		#002;
  --label-color-3:		#003;
  --label-color-4:		#004;
  --label-color-5:		#005;
  --label-color-6:		#006;
  --label-color-7:		#007;
  --label-color-8:		#008;
  --label-color-9:		#009;
}