@keyframes bug {
  0% {
    transform: translate3d(-160px, 20px, 0);
  }
  15% {
    transform: translate3d(-140px, 10px, 0);
  }
  30% {
    transform: translate3d(-120px, 15px, 0);
  }
  40% {
    transform: translate3d(-100px, 5px, 0);
  }
  50% {
    transform: translate3d(-80px, 10px, 0);
  }
  60% {
    transform: translate3d(-60px, 0px, 0);
  }
  70% {
    transform: translate3d(-40px, 5px, 0);
  }
  80% {
    transform: translate3d(-20px, 10px, 0);
  }
  90% {
    transform: translate3d(0, 0, 0);
  }
}
