.bio .bio-img {
  min-width: 144px;
  min-height: 144px;
  max-width: var(--unit-modul-s);
  max-height: var(--unit-modul-s);
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
}

.bio .headline-2 {
  margin-top: 0;
}

.bio .bio-links {
  align-self: center;
}
