#hero-section {
  box-sizing: border-box;
  margin-top: -30px;
  width: 100vw;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  padding: calc(var(--unit-gutter)/2) var(--unit-gutter);
}

#hero-section .grid {
  background-color: transparent;
}

.hero-claim {
  font-size: 3.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#hero-text {
  display: inline-block;
  width: 50%;
}

#hero-text .button-hero {
  margin-bottom: 1em;
}

#hero-illustration {
  display: none;
}

@media screen and (min-width: 998px) {

  .hero-claim {
    margin-bottom: 2em;
  }


  #hero-text .button-hero {
    margin-bottom: 0;
  }

  #hero-section {
    padding: 6em var(--unit-gap) 5.25em;
    width: 100%;
    position: unset;
    margin: 0 auto;
  }

  #hero-illustration {
    display: inline-block;
    position: absolute;
    width: 40%;
    max-width: calc(var(--unit-modul-l) / 2);
  }

  #hero-illustration-bulb {
    position: absolute;
    height: 19em;
    top: -6em;
    right: 4em;
  }

  #hero-illustration-bug {
    position: absolute;
    height: 4em;
    top: 12em;
    right: 16em;
  }

  .bug-animated {
    animation-name: bug;
    animation-duration: 2s;
    animation-delay: 0.75s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

}

.button-icon-hero {
  fill: var(--color-first);
  border:1px solid #f0f;
}

.button-icon-hero:hover {
  fill: var(--color-first);
}
