@font-face {
	font-family: 'webcompat';
	src:url('fonts/webcompat.eot?-ki3mur');
	src:url('fonts/webcompat.eot?#iefix-ki3mur') format('embedded-opentype'),
		url('fonts/webcompat.ttf?-ki3mur') format('truetype'),
		url('fonts/webcompat.woff?-ki3mur') format('woff'),
		url('fonts/webcompat.svg?-ki3mur#webcompat') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wc-icon-"], [class*=" wc-icon-"] {
	font-family: 'webcompat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wc-icon-arrow-circle-right:before {
	content: "\f0a9";
}
.wc-icon-bug:before {
	content: "\f188";
}
.wc-icon-times:before {
	content: "\f00d";
}
.wc-icon-gear:before {
	content: "\f013";
}
.wc-icon-plus:before {
	content: "\f067";
}
.wc-icon-minus:before {
	content: "\f068";
}
.wc-icon-chevron-up:before {
	content: "\f077";
}
.wc-icon-chevron-down:before {
	content: "\f078";
}
.wc-icon-search:before {
	content: "\f002";
}
.wc-icon-home:before {
	content: "\f015";
}
.wc-icon-list:before {
	content: "\f03a";
}
.wc-icon-arrow-right:before {
	content: "\e601";
}
.wc-icon-arrow-down:before {
	content: "\e602";
}
.wc-icon-arrow-left:before {
	content: "\e603";
}
